

body{
  color:#ffffff;
  width:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hide the mobile menu on the right */
  background-color: #000000;
  font: 12px/1.2 'Work Sans', sans-serif;
}

.container{
  width:90%;
  margin:auto;
  overflow:hidden; 
}

#desktop{
  margin-right: 26px;
}

header #topnav{
  background:#000000;
  padding-top:0px;
  min-height:50px;
  float: right;
  margin-top: -32px;
  font-weight:normal;
}

header #topnavlist li{
  float:left;
  display:inline;
  padding-right:4px;
}

header #topnavlist a{
  text-decoration: none;
  color: #808080;
  transition: color 0.3s ease;
}

header #topnav a{
  color:#808080;
  font-weight:normal;
  font-size: 16px;
  padding-right: 15px;
  text-decoration: none;
}

header  #topnav a:hover{
  color:#ffffff;
  font-weight:normal;
  text-decoration: none;
}

header #topnav .current a{
  color:#ffffff;
  text-decoration: none;
}

header #brandingGalleries{
  float:left;
}

header #brandingGalleries h1 a{
  margin:0;
  font-size: 34px;
  text-decoration: none;
  font-weight: bold;
  color:#808080;
  transition: color 0.3s ease;
}

header #brandingGalleries h1 a:hover{
  color:#ffffff;
}

#alignWithNav{
  max-height: 60px;
}

/* About */
#aboutContentBlock{
width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.aboutContent{
  font-size: 16px;
  line-height: 40px;
}

.aboutHeading{
  font-size: 34px;
}


/* Header */



h1{
  font-size: 60px;
  color:#808080;
}

h3{
  font-size: 30px;
  color:orange;
}

h1 a{
  font-size: 60px;
  color:#808080;
  transition: color 0.3s ease;
}

h1 a:hover{
  font-size: 60px;
  color:#ffffff;
}

a{
  font-size: 18px;
  text-decoration: none;
  color:#808080;
  transition: color 0.3s ease;
}

a:hover{
  font-size: 18px;
  text-decoration: none;
  color:#ffffff;
}

p{
  font-size: 34px;
  color: #ffffff;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


/* Homepage box styling */

.box{
  border: 1px solid #808080;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #000000;
  width: 195px;
  height: 283px;
  margin-bottom: 20px;: 
}

#boxes{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  padding-top: 230px;
  background-color: #000000;
  max-width: 1022px;
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.boxAndCaption{
  height: 360px;
  width: 195px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.caption{
  text-align:center;
  font-size: 18px;
}


/* contact page styling */

#contact{
  padding-top: 20px;
  min-height: 50px;
  text-align: center;
}

#contactPageNav{
  height: 30px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 80px;
  max-width: 1022px;
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.contactPageNavItem{
  width: 195px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

#contactTop{
  text-align: center;
  padding-top: 160px;
  padding-bottom: 20px;
}


#contactDetails p a{
  height: 40px;
  text-align: left;
  font-size: 34px;
  color:#ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: color 0.3s ease;
}

#contactDetails p a:hover{
  color:#808080;
}
