

body{
  color:#ffffff;
  width:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* hide the mobile menu on the right */
  background-color: #000000;
  font: 12px/1.2 'Work Sans', sans-serif;
}

h1{
  font-size: 60px;
  color:#808080;
}

h3{
  font-size: 30px;
  color:orange;
}

h1 a{
  font-size: 60px;
  color:#808080;
  transition: color 0.3s ease;
}

h1 a:hover{
  font-size: 60px;
  color:#ffffff;
}

a{
  font-size: 18px;
  text-decoration: none;
  color:#808080;
  transition: color 0.3s ease;
}

a:hover{
  font-size: 18px;
  text-decoration: none;
  color:#ffffff;
}

p{
  font-size: 18px;
  color: #ffffff;
}

/* Branding Homepage and Contact Page*/

#brandingDesktopWide{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color:#000000;
  padding-top:40px;
  height:160px;
  color: #808080;
  position: fixed;

}

#brandingDesktopCompactOneLine{
  display:none;
}

#brandingDesktopCompactTwoLines{
  display: none;
}

#brandingMobile{
  display:none;
}


/* Homepage Image Boxes */

.box{
  border: 1px solid #808080;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #000000;
  width: 195px !important;
  height: 283px !important;
  margin-bottom: 20px;: 
}

#boxes{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  background-color: #000000;
  max-width: 1022px;
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.boxAndCaption{
  height: 360px !important;
  width: 195px !important;
  display: block;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.caption{
  text-align:center;
  font-size: 18px;
}


/* Contact Page */

#contactDetails {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  padding-top: 220px;
}


#contactBottom{
  padding-top: 20px;
  min-height: 50px;
  text-align: center;
}

#contactTop{
  display: none;
}

/* About */

#about{
width: 660px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: justify;
margin-top: 50px;
}

#about p{
font-size: 18px;
line-height: 26px;
}


/* Contact Page Navigation */

#contactPageNav{
  height: 40px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 40px;
  max-width: 1022px;
  margin-bottom: 50px;
  display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.contactPageNavItem{
  width: 195px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}


/*Contact Page Phone and Email */

/* Contact Page */
ul.centerBlock{
  margin-left: auto;
  margin-right: auto;
  display: block;
  list-style: none;
  text-align: center;
  padding:0px; 
}

li.contactItem {
  height: 60px;
  text-align: center;
  font-size: 34px;
  color:#ffffff;
  list-style: none;
  transition: color 0.3s ease;
  text-decoration: none;
}

li.contactItem a{
  height: 60px;
  text-align: center;
  font-size: 34px;
  color:#ffffff;
  transition: color 0.3s ease;
  text-decoration: none;
}

li.contactItem a:hover{
  color:#808080;
}


/* Media Queries */

@media only screen and (min-width:1024px) and (max-width:1250px){

#brandingDesktopWide{
  display: none;
}

#brandingMobile{
  display: none;
}

#brandingDesktopCompactTwoLines{
  display: none;
}

#brandingDesktopCompactOneLine{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color:#000000;
  padding-top:40px;
  height:160px;
  color: #808080;
  position: fixed;
}

#contactTop{
  display:hidden;
}

#boxes{
  padding-top: 230px;
}
}


@media only screen and (min-width:741px) and (max-width: 1023px){

#brandingDesktopCompactOneLine{
  display: none;
}

#brandingDesktopCompactTwoLines{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color:#000000;
  padding-top:10px;
  height:160px;
  color: #808080;
  position: fixed;
}

h1{
  font-size: 48px;
  color:#808080;
}

h1 a{
  font-size: 48px;
  color:#808080;
}

h1 a:hover{
  font-size: 48px;
  color:#ffffff;
}

#brandingDesktopWide{
  display: none;
}

#brandingMobile{
  display: none;
}

#boxes{
  padding-top: 200px;
}

/* Contact Page */

#about{
width: 560px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}

#about p{
font-family: 'Work Sans', sans-serif;
line-height: 26px;
}

#contactPageNav{
  max-width: 660px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contactPageNavItem{
  width: 100px;
  height: 40px;
  padding-bottom: 50px;
}

/* Contact Page Phone and Email */

#contactDetails{
  height: 150px;
}

li.contactItem {
  height: 40px;
  font-size: 28px;
}

li.contactItem a{
  height: 40px;
  font-size:28px;
}
#mobilePadding{
  display: block;
  height: 50px;
  width: 100%;
}
}


@media only screen and (min-width:601px) and (max-width:740px){

#brandingDesktopWide{
  display: none;
}

#brandingDesktopCompactOneLine{
  display: none;
}

#brandingDesktopCompactTwoLines{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color:#000000;
  padding-top:10px;
  height:160px;
  color: #808080;
  position: fixed;
}

#brandingMobile{
  display: none;
}

h1{
  font-size: 48px;
  color:#808080;
}

h1 a{
  font-size: 48px;
  color:#808080;
}

h1 a:hover{
  font-size: 48px;
  color:#ffffff;
}

#boxes{
  padding-top: 200px;
}

/* Contact Page */

#about{
width: 560px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}


#contactPageNav{
  max-width: 660px;
  margin-bottom: 50px;
}

.contactPageNavItem{
  width: 100px;
  height: 40px;
}

/* Contact Page Phone and Email */

#contactDetails{
  height: 150px;
}

li.contactItem {
  height: 40px;
  font-size: 28px;
}

li.contactItem a{
  height: 40px;
  font-size:28px;
}

#contactPageNav{
  max-width: 660px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contactPageNavItem{
  width: 80px;
  height: 40px;
}
#mobilePadding{
  display: block;
  height: 50px;
  width: 100%;
}

}

@media only screen and (min-width:240px) and (max-width:600px){

#brandingDesktopWide{
  display: none;
}

#brandingDesktopCompactTwoLines{
  display: none;
}

#brandingDesktopCompactOneLine{
  display: none;
}

#fixedBrandingArea{
  position: fixed
  width:100%;
}

#brandingMobile{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15px;
  text-align: center;
  background-color:#000000;
  padding-top:30px;
  height:105px;
  position: fixed;
}

h1{
  font-size: 34px;
}

h1 a{
  font-size: 34px;
}

h1 a:hover{
  font-size: 34px;
  color:#ffffff;
}

#boxes{
  padding-top: 200px;
}

#contactBottom{
  display: none; 
}

#contactTop{
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 130px;
  height:50px;
  background-color: #000000;
  position: fixed;
} 

/* Contact Page Phone and Email */

#contactDetails{
  height: 150px;
  padding-top: 160px;
}

li.contactItem {
  line-height: 20px;
  font-size: 20px;
  height: 50px;
}

li.contactItem a{
  line-height: 20px;
  font-size:20px;
}

#about{
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}

#about p{
font-size: 16px;
}

ul.centerBlock{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: block;
  padding:0px; 
}

.contactPageNavItem{
  height:20px;
}

#contactPageNav{
  height: 130px;
}
}

