



/* media queries */

@media only screen and (min-width: 240px) and (max-width: 549px){

.container{
  height: 66px;
}

header #brandingMobile{
  text-align: center;
  padding-top: 20px;
}

#brandingDesktop h1{
  display: none;
}

#brandingDesktop h3{
  display: none;
}

#desktop{
    display: none;
}

#contact{
  display: none; 
} 

#contactTop{
  display: none;
}

#contactDetails p a{
  display: block;
  height: 20px;
  text-align: center;
  margin-top:20px; 
  font-size: 18px !important;
}

h1{
  font-size: 34px;
  color:#808080;
}

h1 a{
  font-size: 34px;
  color:#808080;
}

h1 a:hover{
  font-size: 34px;
  color:#ffffff;
}

#headerBackground{
  margin-top:-25px;
  height:170px;
  width: 100%;
  background-color: #000000;
  position: fixed;
}

#brandingMobile {
  padding-top: 8px !important;
  padding-bottom: 2px;
}

ul.centerBlock{
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-top:39px; 
  padding-bottom:21px;
  padding-left: -40px !important];
}

#contactPageNav{
  margin-top: 80px;
}

#aboutContentBlock{
margin-top: 50px;
}
}


@media only screen and (min-width: 550px) and (max-width: 729px){
#contact{
  display: none; 
}
#headerBackground{
  margin-top:0px;
  height:150px;
} 
#contactPageNav{
  margin-top: 40px;
  max-width: 300px;
}
}


@media only screen and (min-width: 730px) and (max-width: 999px){

header #brandingDesktop{
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color:#000000;
  padding-top:70px;
  min-height:60px;
  color: #808080;
  overflow:hidden;
}
#aboutContentBlock{
margin-top: 150px;
}
.contactPageNavItem{
  width: 100px !important;
  height: 40px;
}
#brandingMobile h1{
  display: none;
}

#brandingMobile h3{
  display: none;
}
#mobile{
    display: none;
}

header #brandingDesktop{
  padding-top:23px;
  min-height:60px;
  overflow:hidden;
  text-align: center;
}

li.contactItem {
  text-align: center;
  font-size: 34px !important;
  line-height: 54px;
  color: #ffffff;
}

li.contactItem a{
  text-align: center;
  font-size: 34px !important;
  line-height: 54px;
  color:#ffffff;
}

#headerBackground{
  margin-top:-25px;
  height:220px;
  width: 100%;
  background-color: #000000;
}
}


@media only screen and (min-width: 1000px) and (max-width: 5000px){

h1{
  font-size: 60px;
  margin-top: -2px;
} 
#brandingMobile h1{
  display: none;
}

#brandingMobile h3{
  display: none;
}
#headerBackground{
  margin-top:-25px;
  height:220px;
  width: 100%;
  background-color: #000000;
}
ul.centerBlock{
  display: block;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-top:21px; 
  padding-bottom:21px;
  padding-left: -40px !important];
}
}


