body{
  font: 12px/1.2 Work Sans, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#000000;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

.content {
  padding-top: 30px;
}

ul{
  margin-top:10px;
}

nav{

}

/* Header **/
header{
  background:#000000;
  color:#ffffff;
  padding-top:0px;
  min-height:50px;
}

header a{
  color:#cccccc;
  text-decoration:none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 10 0 0;
}

header #branding{
  float:left;
}

header #branding h1 a{
  margin:0;
  font-size: 34px;
  text-decoration: none;
  font-weight: bold;
}

header #branding h1 a:hover{
  color:#ffffff;
}

header nav{
  float:right;
}

header .current a{
  color:#ffffff;
  font-weight:normal;
  text-decoration: none;
}

header .highlight a{
  color:#cccccc;
  font-weight:normal;
  font-size: 32px;
}


header a:hover{
  color:#ffffff;
  font-weight:normal;
  text-decoration: none;
}

@media only screen and (min-width: 240px) and (max-width: 509px) {
  nav {
padding-top: 0px;
  }





  

