<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="../images/portraits/Katherine-Parkinson-and-Steve-Pemberton.jpg"
	thumbURL="../images/portraits/thumbs/Katherine-Parkinson-and-Steve-Pemberton.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Katherine Parkinson & Steve Pemberton]]></caption>
    <about>Dead Funny</about>
    <text>Play by Terry Johnson. Katherine Parkinson, Steve Pemberton </text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Morgana-Robinson-and-Larry-Dobiez-Stephen-Ashfield-and-Olivia-Poulet-and-Sally-Phillips.jpg"
	thumbURL="../images/portraits/thumbs/Morgana-Robinson-and-Larry-Dobiez-Stephen-Ashfield-and-Olivia-Poulet-and-Sally-Phillips.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Morgana Robinson & Larry Dobiez, Stephen Ashfield and Olivia Poulet & Sally Phillips]]></caption>
    <about>Distinguished Ladies</about>
    <text>TV Pilot</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Jane Bussmann</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Karl-Johnson-and-Ciaran-Hinds-Girl-from-the-North-Country.jpg"
	thumbURL="../images/portraits/thumbs/Karl-Johnson-and-Ciaran-Hinds-Girl-from-the-North-Country.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Karl Johnson &amp; Ciaran Hinds - Girl from the North Country]]></caption>
    <about>Girl from the North Country</about>
    <text>Director Conor McPherson, Music by Bob Dylan</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Bob King Creative, EMG</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Apologia.jpg"
	thumbURL="../images/portraits/thumbs/Apologia.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Laura Carmichael, Stockard Channing and Freema Agyeman - Apologia]]></caption>
    <about>Apologia</about>
    <text>Apologia</text>
    <copyrightYear></copyrightYear>
    <locationCreated></locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Hadley-Fraser-Young-Frankenstein.jpg"
	thumbURL="../images/portraits/thumbs/Hadley-Fraser-Young-Frankenstein.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Hadley Fraser - Young Frankenstein]]></caption>
    <about>Young Frankenstein</about>
    <text>Mel Brooks</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>AKA London</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Olivia-Phillip-and-Rachael-McDowall.jpg"
	thumbURL="../images/portraits/thumbs/Olivia-Phillip-and-Rachael-McDowall.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Olivia Philip & Rachael McDowall]]></caption>
    <about>Pricilla Queen of the Desert and The Producers</about>
    <text>Mel Brooks</text>
    <copyrightYear>2007, 2010</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/French-and-Saunders-and-Joanna-Page.jpg"   
	thumbURL="../images/portraits/thumbs/French-and-Saunders-and-Joanna-Page.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[French and Saunders & Joanna Page]]></caption>
    <about>Channel 4 and Fat Pig</about>
    <text>French and Saunders, Play by Neil LaBute, Dawn French, Jennifer Saunders, Joanna Page</text>
    <copyrightYear>2000, 2018</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4 and Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Luciano-Pavarotti-and-Davina-McCall.jpg"
	thumbURL="../images/portraits/thumbs/Luciano-Pavarotti-and-Davina-McCall.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Luciano Pavarotti & Davina McCall]]></caption>
    <about>Classic fm Magazine, Channel 4</about>
    <text>Luciano Pavarotti and Davina McCall</text>
    <copyrightYear>2000, 2002</copyrightYear>
    <locationCreated>Pesaro, Italy and London</locationCreated>
    <sourceOrganisation>Haymarket Publishing, Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Charlie-Russell-and-Greg-Tannahill-The-Play-That-Goes-Wrong.jpg"
	thumbURL="../images/portraits/thumbs/Charlie-Russell-and-Greg-Tannahill-The-Play-That-Goes-Wrong.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Charlie Russell & Greg Tannahill - The Play That Goes Wrong]]></caption>
    <about>The Play That Goes Wrong, Charlie Russell, Greg Tannahill</about>
    <text>Olivier Award Winner</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Kenny Wax Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Isabelle-Allen-Cosette-Les-Miserables.jpg"
	thumbURL="../images/portraits/thumbs/Isabelle-Allen-Cosette-Les-Miserables.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Isabelle Allen - Cosette, Les Misérables]]></caption>
    <about>Les Miserablés</about>
    <text>Musical, Victor Hug, Isabelle Allen</text>
    <copyrightYear>2012</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Cameron Mackintosh</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Martin-Kemp-and-Ronan-Keating.jpg"
	thumbURL="../images/portraits/thumbs/Martin-Kemp-and-Ronan-Keating.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Martin Kemp & Ronan Keating]]></caption>
    <about>Channel 4</about>
    <text>Spandau Ballet, Boyzone, Martin Kemp, Ronan Keating</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Emma-Bunton-and-John-Barrowman.jpg"
	thumbURL="../images/portraits/thumbs/Emma-Bunton-and-John-Barrowman.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Emma Bunton & John Barrowman]]></caption>
    <about>Channel 4 and A Few Good Men</about>
    <text>Spice Girls, Play by Aaron Sorkin, Emma Bunton, John Barrowman</text>
    <copyrightYear>2000, 2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4, Dewynters, Bill Kenwright</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Jay-Kay-and-Ian-Brown.jpg"
	thumbURL="../images/portraits/thumbs/Jay-Kay-and-Ian-Brown.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Jay Kay & Ian Brown]]></caption>
    <about>Channel 4</about>
    <text>Jamiroquai, Stone Roses, Jay Kay, Ian Brown</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Matthew-McConaughey-and-Eddie-Izzard.jpg"
	thumbURL="../images/portraits/thumbs/Matthew-McConaughey-and-Eddie-Izzard.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Matthew McConaughey & Eddie Izzard]]></caption>
    <about>Matthew McConaughy, Eddie Izzard</about>
    <text></text>
    <copyrightYear></copyrightYear>
    <locationCreated></locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Mark-Powell-and-James-Wilby.jpg"
	thumbURL="../images/portraits/thumbs/Mark-Powell-and-James-Wilby.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Mark Powell & James Wilby]]></caption>
    <about>Personal Commissions</about>
    <text>Tailor, Actor</text>
    <copyrightYear>2002</copyrightYear>
    <locationCreated>London, Ditchling Sussex</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Lisa-Snook-and-Julian-Wild.jpg"
	thumbURL="../images/portraits/thumbs/Lisa-Snook-and-Julian-Wild.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Lisa Snook & Julian Wild]]></caption>
    <about>Personal Work</about>
    <text>Artists Lisa Snook, Julian Wild</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Personal Work</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Paul-Gildea.jpg"
	thumbURL="../images/portraits/thumbs/Paul-Gildea.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Paul Gildea]]></caption>
    <about>Personal Work</about>
    <text>Artist, Paul Gildea</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Peter-Spens-and-Martin-Johnson.jpg"
	thumbURL="../images/portraits/thumbs/Peter-Spens-and-Martin-Johnson.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Peter Spens & Martin Johnson]]></caption>
    <about>Personal Work and Maxim Magazine</about>
    <text>Artist, Peter Spens and Martin Johnson, England Rugby Captain</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Personal Work and Maxim Magazine Dennis Publishing</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Billie-Piper.jpg"
	thumbURL="../images/portraits/thumbs/Billie-Piper.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Billie Piper]]></caption>
    <about>Treats</about>
    <text>Actress, Billie Piper</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Bill Kenwright</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Stephen-Fry-and-Moloko.jpg"
	thumbURL="../images/portraits/thumbs/Stephen-Fry-and-Moloko.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Stephen Fry & Moloko]]></caption>
    <about>Channel 4</about>
    <text>Roisin Murphy, Stephen Fry, Moloko</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Stephen-Felmingham-and-Sir-Simon-Rattle.jpg"
	thumbURL="../images/portraits/thumbs/Stephen-Felmingham-and-Sir-Simon-Rattle.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Stephen Felmingham & Sir Simon Rattle]]></caption>
    <about>Personal Work and Classic fm Magazine</about>
    <text>Artist, Stephen Felmingham and Conductor, Sir Simon Rattle</text>
    <copyrightYear>2003</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Haymarket Publishing</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Richard-E-Grant-and-George-Best.jpg"
	thumbURL="../images/portraits/thumbs/Richard-E-Grant-and-George-Best.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Richard E Grant & George Best]]></caption>
    <about></about>
    <text></text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Stafford-Beer-and-Alexander-Thynne-Marquis-of-Bath.jpg"
	thumbURL="../images/portraits/thumbs/Stafford-Beer-and-Alexander-Thynne-Marquis-of-Bath.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Stafford Beer & Alexander Thynne, Marquis of Bath]]></caption>
    <about>Channel 4</about>
    <text>Actor, Richard E Grant and Footballer, George Best, Northern Ireland</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Andrea-Bocelli.jpg"
	thumbURL="../images/portraits/thumbs/Andrea-Bocelli.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Andrea Bocelli]]></caption>
    <about>Classic fm Magazine</about>
    <text>Andrea Bocelli, Italian singer, songwriter and producer</text>
    <copyrightYear></copyrightYear>
    <locationCreated>Pisa, Italy</locationCreated>
    <sourceOrganisation>Haymarket Publishing</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Charles-Dance-and-Suzanne-Shaw.jpg"
	thumbURL="../images/portraits/thumbs/Charles-Dance-and-Suzanne-Shaw.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Charles Dance & Suzanne Shaw]]></caption>
    <about>Shadowlands and Chicago the Musical</about>
    <text>Actor, Charles Dance, Suzanne Shaw, Michael Barker-Craven</text>
    <copyrightYear>2007, 2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Ricky-Tomlinson-and-Maggi-Hambling.jpg"
	thumbURL="../images/portraits/thumbs/Ricky-Tomlinson-and-Maggi-Hambling.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Ricky Tomlinson & Maggi Hambling]]></caption>
    <about>Channel 4 and Personal Work</about>
    <text>Actor, Ricky Tomlinson and Maggi Hambling, Artist</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4 and Personal Work</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Gruff-Rhys-Super-Furry-Animals-and-Kate-Winslet-and-Paul-Whitehouse.jpg"
	thumbURL="../images/portraits/thumbs/Gruff-Rhys-Super-Furry-Animals-and-Kate-Winslet-and-Paul-Whitehouse.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Gruff Rhys, Super Furry Animals & Kate Winslet and Paul Whitehouse]]></caption>
    <about>Channel 4</about>
    <text>Musician Gruff Rhys, Super Furry Animals, Kate Winslet, Actor and Paul Whitehouse, Comedian</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/portraits/Beastie-Boys.jpg"
	thumbURL="../images/portraits/thumbs/Beastie-Boys.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Beastie Boys]]></caption>
    <about>Kerang Magazine</about>
    <text>Beastie Boys, Adam Horovitz, Mike D, Adam Yauch</text>
    <copyrightYear>1994</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dennis Publishing</sourceOrganisation>
  </image>
</juiceboxgallery>