<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/portraits/salah.jpg" thumbURL="../images/portraits/thumbs/salah.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/portraits/monkey10.jpg" thumbURL="../images/portraits/thumbs/monkey10.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/portraits/coutinho.jpg" thumbURL="../images/portraits/thumbs/coutinho.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/portraits/monkey2-monkey2.jpg" thumbURL="../images/portraits/thumbs/monkey2-monkey2.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
</juiceboxgallery>
