<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images//monkey9.jpg" thumbURL="../images//thumbs/monkey9.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
</juiceboxgallery>
