
body
{
  /* setting position fixed and with 100% width resolves overflow issue */
  position: fixed;
  width:100%;
  margin: 0;
  padding: 0;
  background: #000000;
  font: 12px/1.2 Work Sans, Helvetica,sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

/* general */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

#desktop {
  margin-right: 26px;
}

/* Header **/
header #testnav {
  background:#000000;
  color:#ffffff;
  padding-top:0px;
  min-height:50px;
  float: right;
  margin-top: -60px;
}

header #test li{
  float:left;
  display:inline;
  padding: 0 10 0 0;
}

header #branding{
  float:left;
}

header #branding h1 a{
  margin:0;
  font-size: 34px;
  text-decoration: none;
  font-weight: bold;
  color:#cccccc;
}

header #branding h1 a:hover{
  color:#ffffff;
}


header #testnav .current a{
  color:#ffffff;
  font-weight:normal;
  text-decoration: none;
}


header #testnav a{
  color:#808080;
  font-weight:normal;
  font-size: 16px;
  padding-right: 15px;
  text-decoration: none;
}

header  #testnav a:hover{
  color:#ffffff;
  font-weight:normal;
  text-decoration: none;
}


h1 {
	color:#808080;
}


/* end general */


/* Hamburger nav */

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  font-size: 16px;
}

a:hover {
  color: #ffffff;
}

#menu .selected a{
	color:#ffffff;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 26px;
  right: 26px;
  
  z-index: 1000; /*this has to be at higher index than the gallery swipe hit area */
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


/*
 * Hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform hamburger into a cross
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 150px;
  margin: -100px 0 0 0;
  padding-top: 115px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
}

/*
 * Fade in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


/* menu */
@media only screen and (min-width: 240px) and (max-width:819px) {
  #mobile{
}
.container {
  height: 50px;
}
  #desktop{
    display: none;
}
}

/*
@media only screen and (min-width: 240px) and (max-width:819px) {
  #desktop{
    display: none;
}
}
*/

@media only screen and (min-width: 820px) and (max-width:4800px) {
  #desktop{
}
  #mobile{
    display: none;
}
}

/*
@media only screen and (min-width: 820px) and (max-width:4800px) {
  #mobile{
    display: none;
}
}
*/
