<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="../images/portfolio/Laurence-Fox-The-Real-Thing.jpg"
	thumbURL="../images/portfolio/thumbs/Laurence-Fox-The-Real-Thing.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Laurence Fox - The Real Thing]]></caption>
  	<about>The Real Thing</about>
    <text>Play by Tom Stoppard, Theatre Advertising</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Theatre Royal, Bath</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg"
	thumbURL="../images/portfolio/thumbs/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Luke Ward-Wilkinson and Freddie Watkins - Lord of the Flies]]></caption>
    <about>Lord of the Flies</about>
    <text>Theatre Advertising, William Golding, Luke Ward-Wilkinson, Freddie Watkins</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Once-A-Catholic.jpg"
	thumbURL="../images/portfolio/thumbs/Once-A-Catholic.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Once A Catholic]]></caption>
    <about>Once a Catholic</about>
    <text>Play by Mary O’Malley, Directed by Kathy Burke. Amy Morgan, Molly Logan, Katherine Rose Morley</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Tricycle Theatre, David Pugh Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg"
	thumbURL="../images/portfolio/thumbs/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Ross Noble, Summer Strallen, Hadley Fraser and Lesley Joseph - Young Frankenstein]]></caption>
    <about>Young Frankenstein</about>
    <text>Mel Brooks. Ross Noble, Summer Strallen, Hadley Fraser, Lesley Joseph</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>AKA London Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Shirley-Henderson-Girl-from-the-North-Country.jpg"
	thumbURL="../images/portfolio/thumbs/Shirley-Henderson-Girl-from-the-North-Country.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Shirley Henderson - Girl from the North Country]]></caption>
    <about>Girl from the North Country</about>
    <text>Directed by Conor McPherson, Music by Bob Dylan. Shirley Henderson</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Bob King Creative, EMG</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Henry-Goodman-Looking-at-Lucian.jpg"
	thumbURL="../images/portfolio/thumbs/Henry-Goodman-Looking-at-Lucian.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Henry Goodman - Looking at Lucian]]></caption>
    <about>Looking at Lucian</about>
    <text>Lucian Freud, Play by Alan Frank. Henry Goodman</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Theatre Royal, Bath</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Harry-Melling.jpg"
	thumbURL="../images/portfolio/thumbs/Harry-Melling.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Harry Melling]]></caption>
    <about>Hand to God</about>
    <text>Play by Robert Askins. Harry Melling</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Gemma-Arterton-Nell-Gwynn.jpg"
	thumbURL="../images/portfolio/thumbs/Gemma-Arterton-Nell-Gwynn.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Gemma Arterton - Nell Gwynn]]></caption>
    <about>Nell Gwynn</about>
    <text>Written by Jessica Swale, Globe Theatre. Gemma Arterton</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>Globe Theatre, London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax, Feast Creative</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Kelly-Osbourne-Chicago.jpg"
	thumbURL="../images/portfolio/thumbs/Kelly-Osbourne-Chicago.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Kelly Osbourne - Chicago]]></caption>
    <about>Chicago the Musical</about>
    <text>Ozzy Osbourne, Sharon Osbourne. Kelly Osbourne as Mama Morton</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg"
	thumbURL="../images/portfolio/thumbs/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[John Hurt, Richard Griffiths and Ken Stott - Heroes & Bonnie Langford - Chicago]]></caption>
    <about>Heroes and Chicago the Musical</about>
    <text>Play by Gérald Sibleyras, Tom Stoppard, Roxie Hart. John Hurt, Richard Griffiths, Ken Stott, Bonnie Langford</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Equus.jpg"
	thumbURL="../images/portfolio/thumbs/Equus.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Equus]]></caption>
    <about>Equus</about>
    <text>Equus Theatre Poster, West End, Broadway,New York</text>
    <copyrightYear>2006</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Tanaka-Pari-and-Isaac.jpg"
	thumbURL="../images/portfolio/thumbs/Tanaka-Pari-and-Isaac.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Tanaka Pari and Isaac]]></caption>
    <about>Distinguished Ladies</about>
    <text>Jane Bussmann, TV Pilot. Tanaka Pari and Isaac</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Jane Bussmann</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/John-Simm.jpg"
	thumbURL="../images/portfolio/thumbs/John-Simm.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[John Simm]]></caption>
    <about>Speaking in Tongues</about>
    <text>Written by Andrew Bovell. John Simm</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg"
	thumbURL="../images/portfolio/thumbs/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Lesley Sharp, Diana Vickers and Marc Warren - Little Voice]]></caption>
    <about>Little Voice</about>
    <text>Play written by Jim Cartwright, Directed by Terry Johnson. Lesley Sharp, Diana Vickers, Marc Warren</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Nica Burns</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg"
	thumbURL="../images/portfolio/thumbs/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Katherine Parkinson, Steve Pemberton, Ralf Little, Emily Berrington and Rufus Jones - Dead Funny]]></caption>
    <about>Dead Funny</about>
    <text>Directed by Terry Johnson. Katherine Parkinson, Steve Pemberton, Ralf Little, Emily Berrington, Rufus Jones</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Tamsin-Greig-and-Ralph-Fiennes.jpg"
	thumbURL="../images/portfolio/thumbs/Tamsin-Greig-and-Ralph-Fiennes.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Tamsin Greig & Ralph Fiennes]]></caption>
    <about>God of Carnage</about>
    <text>Play by Yasmina Reza, Gielgud Theatre. Tamsin Greig, Ralph Fiennes</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Priscilla-Queen-of-the-Desert.jpg"
	thumbURL="../images/portfolio/thumbs/Priscilla-Queen-of-the-Desert.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Priscilla Queen of the Desert]]></caption>
    <about>Priscilla Queen of the Desert</about>
    <text>Jason Donovan</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>Palace Theatre, London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg"
	thumbURL="../images/portfolio/thumbs/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[The Producers - Cory English, Rachael McDowall and Reece Shearsmith & Laura Michelle Kelly - Galadriel, Lord of the Rings]]></caption>
    <about>The Producers, Lord of the Rings</about>
    <text>Galadriel. Cory English, Rachael McDowall, Reece Shearsmith, Laura Michelle Kelly</text>
    <copyrightYear>2006, 2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg"
	thumbURL="../images/portfolio/thumbs/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Lord of the Rings, Gandalf - Andrew Jarvis, Aragorn - Jérome Pradon and Arwen - Rosalie Craig]]></caption>
    <about>Lord of the Rings</about>
    <text>Gandalf, Aragorn, Arwen. Andrew Jarvis, Jérome Pradon, Rosalie Craig</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	thumbURL="../images/portfolio/thumbs/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Pride and Prejudice - Tafline Steen and Benjamin Dilloway]]></caption>
    <about>Pride and Prejudice</about>
    <text>Jane Austen. Tafline Steen, Benjamin Dilloway</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Dane-Hurst-and-Camille-Bracher-Inala.jpg" 
	thumbURL="../images/portfolio/thumbs/Dane-Hurst-and-Camille-Bracher-Inala.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Dane Hurst and Camille Bracher - Inala]]></caption>
    <about>Inala</about>
    <text>Zulu ballet.Dane Hurst, Camille Bracher</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>Royal Opera House, Covent Garden, London</locationCreated>
    <sourceOrganisation>Feast Creative</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Once-the-Musical.jpg"
	thumbURL="../images/portfolio/thumbs/Once-the-Musical.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Once the Musical]]></caption>
    <about>Once the Musical</about>
    <text>Declan Bennett, Zrinka Cvitešić</text>
    <copyrightYear>2011</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Barbara Broccoli</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	thumbURL="../images/portfolio/thumbs/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Phantom of the Opera & Brief Encounter]]></caption>
    <about>Phantom of the Opera and Brief Encounter</about>
    <text>Andrew Lloyd Weber</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, David Pugh Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Porgy-and-Bess.jpg"
	thumbURL="../images/portfolio/thumbs/Porgy-and-Bess.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Porgy and Bess]]></caption>
    <about>Porgy and Bess</about>
    <text>George and Ira Gershwin</text>
    <copyrightYear>2006</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/Andile-Gumbi-Lion-King.jpg"
	thumbURL="../images/portfolio/thumbs/Andile-Gumbi-Lion-King.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Andile Gumbi - Lion King]]></caption>
    <about>Lion King</about>
    <text>Musical. Andile Gumbi as Simba</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>Lyceum Theatre, London</locationCreated>
    <sourceOrganisation>Disney</sourceOrganisation>
  </image>
</juiceboxgallery>