<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/portfolio/Laurence-Fox-The-Real-Thing.jpg"
	thumbURL="../images/portfolio/thumbs/Laurence-Fox-The-Real-Thing.jpg"
	linkURL="../images/portfolio/Laurence-Fox-The-Real-Thing.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Laurence-Fox-The-Real-Thing.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Laurence Fox - The Real Thing]]></caption>
  	<index>1</index>
  	<about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg"
	thumbURL="../images/portfolio/thumbs/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg"
	linkURL="../images/portfolio/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Luke-Ward-Wilkinson-and-Freddie-Watkins-Lord-of-the-Flies.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Luke Ward-Wilkinson and Freddie Watkins - Lord of the Flies]]></caption>
  	<index>2</index>
  	<about>Barnsley</about>
    <text>Cornwall, UK</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1992</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2017-01-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Peckham, London</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Once-A-Catholic.jpg"
	thumbURL="../images/portfolio/thumbs/Once-A-Catholic.jpg"
	linkURL="../images/portfolio/Once-A-Catholic.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Once-A-Catholic.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Once A Catholic]]></caption>
  	<index>3</index>
  	<about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg"
	thumbURL="../images/portfolio/thumbs/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg"
	linkURL="../images/portfolio/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Ross-Noble-Summer-Strallen-Hadley-Fraser-and-Lesley-Joseph-Young-Frankenstein.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Ross Noble, Summer Strallen, Hadley Fraser and Lesley Joseph - Young Frankenstein]]></caption>
    <index>4</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Shirley-Henderson-Girl-from-the-North-Country.jpg"
	thumbURL="../images/portfolio/thumbs/Shirley-Henderson-Girl-from-the-North-Country.jpg"
	linkURL="../images/portfolio/Shirley-Henderson-Girl-from-the-North-Country.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Shirley-Henderson-Girl-from-the-North-Country.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Shirley Henderson - Girl from the North Country]]></caption>
    <index>5</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Henry-Goodman-Looking-at-Lucian.jpg"
	thumbURL="../images/portfolio/thumbs/Henry-Goodman-Looking-at-Lucian.jpg"
	linkURL="../images/portfolio/Henry-Goodman-Looking-at-Lucian.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Henry-Goodman-Looking-at-Lucian.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Henry Goodman - Looking at Lucian]]></caption>
    <index>6</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Harry-Melling.jpg"
	thumbURL="../images/portfolio/thumbs/Harry-Melling.jpg"
	linkURL="../images/portfolio/Harry-Melling.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Harry-Melling.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Harry Melling]]></caption>
    <index>7</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Gemma-Arterton-Nell-Gwynn.jpg"
	thumbURL="../images/portfolio/thumbs/Gemma-Arterton-Nell-Gwynn.jpg"
	linkURL="../images/portfolio/Gemma-Arterton-Nell-Gwynn.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Gemma-Arterton-Nell-Gwynn.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Gemma Arterton - Nell Gwynn]]></caption>
    <index>8</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Kelly-Osbourne-Chicago.jpg"
	thumbURL="../images/portfolio/thumbs/Kelly-Osbourne-Chicago.jpg"
	linkURL="../images/portfolio/Kelly-Osbourne-Chicago.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Kelly-Osbourne-Chicago.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Kelly Osbourne - Chicago]]></caption>
    <index>9</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg"
	thumbURL="../images/portfolio/thumbs/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg"
	linkURL="../images/portfolio/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/John-Hurt-Richard-Griffiths-and-Ken-Stott-Heroes-and-Bonnie-Langford-Chicago.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[John Hurt, Richard Griffiths and Ken Stott - Heroes & Bonnie Langford - Chicago]]></caption>
    <index>10</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Equus.jpg"
	thumbURL="../images/portfolio/thumbs/Equus.jpg"
	linkURL="../images/portfolio/Equus.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Equus.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Equus]]></caption>
    <index>11</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Tanaka-Pari-and-Isaac.jpg"
	thumbURL="../images/portfolio/thumbs/Tanaka-Pari-and-Isaac.jpg"
	linkURL="../images/portfolio/Tanaka-Pari-and-Isaac.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Tanaka-Pari-and-Isaac.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tanaka Pari and Isaac]]></caption>
    <index>12</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/John-Simm.jpg"
	thumbURL="../images/portfolio/thumbs/John-Simm.jpg"
	linkURL="../images/portfolio/John-Simm.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/John-Simm.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[John Simm]]></caption>
    <index>13</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg"
	thumbURL="../images/portfolio/thumbs/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg"
	linkURL="../images/portfolio/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Lesley-Sharp-Diana-Vickers-and-Marc-Warren-Little-Voice.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lesley Sharp, Diana Vickers and Marc Warren - Little Voice]]></caption>
    <index>14</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg"
	thumbURL="../images/portfolio/thumbs/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg"
	linkURL="../images/portfolio/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Katherine-Parkinson-Steve-Pemberton-Ralf-Little-Emily-Berrington-and-Rufus-Jones-Dead-Funny.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Katherine Parkinson, Steve Pemberton, Ralf Little, Emily Berrington and Rufus Jones - Dead Funny]]></caption>
    <index>15</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Tamsin-Greig-and-Ralph-Fiennes.jpg"
	thumbURL="../images/portfolio/thumbs/Tamsin-Greig-and-Ralph-Fiennes.jpg"
	linkURL="../images/portfolio/Tamsin-Greig-and-Ralph-Fiennes.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Tamsin-Greig-and-Ralph-Fiennes.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Tamsin Greig & Ralph Fiennes]]></caption>
    <index>16</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Priscilla-Queen-of-the-Desert.jpg"
	thumbURL="../images/portfolio/thumbs/Priscilla-Queen-of-the-Desert.jpg"
	linkURL="../images/portfolio/Priscilla-Queen-of-the-Desert.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Priscilla-Queen-of-the-Desert.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Priscilla Queen of the Desert]]></caption>
    <index>17</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg"
	thumbURL="../images/portfolio/thumbs/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg"
	linkURL="../images/portfolio/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/The-Producers-Cory-English-Rachael-McDowall-and-Reece-Shearsmith-and-Laura-Michelle-Kelly-Galadriel-Lord-of-the-Rings.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The Producers - Cory English, Rachael McDowall and Reece Shearsmith & Laura Michelle Kelly - Galadriel, Lord of the Rings]]></caption>
    <index>18</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg"
	thumbURL="../images/portfolio/thumbs/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg"
	linkURL="../images/portfolio/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Lord-of-the-Rings-Gandalf-Andrew-Jarvis-Aragorn-Jerome-Pradon-and-Arwen-Rosalie-Craig.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Lord of the Rings, Gandalf - Andrew Jarvis, Aragorn - Jérome Pradon and Arwen - Rosalie Craig]]></caption>
    <index>19</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	thumbURL="../images/portfolio/thumbs/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	linkURL="../images/portfolio/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Pride and Prejudice - Tafline Steen and Benjamin Dilloway]]></caption>
    <index>20</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Dane-Hurst-and-Camille-Bracher-Inala.jpg"
	thumbURL="../images/portfolio/thumbs/Dane-Hurst-and-Camille-Bracher-Inala.jpg"
	linkURL="../images/portfolio/Dane-Hurst-and-Camille-Bracher-Inala.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Dane-Hurst-and-Camille-Bracher-Inala.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Dane Hurst and Camille Bracher - Inala]]></caption>
    <index>21</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Once-the-Musical.jpg"
	thumbURL="../images/portfolio/thumbs/Once-the-Musical.jpg"
	linkURL="../images/portfolio/Once-the-Musical.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Once-the-Musical.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Once the Musical]]></caption>
    <index>22</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	thumbURL="../images/portfolio/thumbs/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	linkURL="../images/portfolio/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Phantom-of-the-Opera-and-Brief-Encounter.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Phantom of the Opera & Brief Encounter]]></caption>
    <index>23</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Porgy-and-Bess.jpg"
	thumbURL="../images/portfolio/thumbs/Porgy-and-Bess.jpg"
	linkURL="../images/portfolio/Porgy-and-Bess.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Porgy-and-Bess.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Porgy and Bess]]></caption>
    <index>24</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
  <image imageURL="../images/portfolio/Andile-Gumbi-Lion-King.jpg"
	thumbURL="../images/portfolio/thumbs/Andile-Gumbi-Lion-King.jpg"
	linkURL="../images/portfolio/Andile-Gumbi-Lion King.jpg"
	linkTarget="_blank"
	sourcePath="/Users/sdturtle/Desktop/New Website/Portfolio/../images/portfolio/Andile-Gumbi-Lion-King.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Andile Gumbi - Lion King]]></caption>
    <index>25</index>
    <about>Texas</about>
    <text>Texas, USA</text>
    <creator>Simon Turtle</creator>
    <copyrightYear>1990</copyrightYear>
    <copyrightHolder>Simon Turtle</copyrightHolder>
    <dateCreated>2018-03-01</dateCreated>
    <isFamilyFriendly>true</isFamilyFriendly>
    <editor>Simon Turtle</editor>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
    <thumbnailURL>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</thumbnailURL>
    <url>https://www.simonturtle.com/images/archive/thumbs/Equus.jpg</url>
  </image>
</juiceboxgallery>