<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/portfolio/monkey9.jpg" thumbURL="../images/portfolio/thumbs/monkey9.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/portfolio/monkey9.jpg" thumbURL="../images/portfolio/thumbs/monkey9.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
</juiceboxgallery>
