<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="../images/archive/Classical-Beats.jpg"
	thumbURL="../images/archive/thumbs/Classical-Beats.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Classical Beats]]></caption>
    <about>Extreme Music</about>
    <text>Music Compilations</text>
    <copyrightYear>2003</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Extreme Music</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Once-A-Catholic.jpg"
	thumbURL="../images/archive/thumbs/Once-A-Catholic.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Once A Catholic]]></caption>
    <about>Once a Catholic</about>
    <text>Play by Mary O'Malley, Directed by Kathy Burke, Tricycle Theatre. Molly Logan, Sean Campion</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>David Pugh Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Johnny-Vegas-Vic-Reeves-Bob-Mortimer-and-Charlie-Higson-Gary-Wilmot-and-Emma-Barton-Chicago.jpg"
	thumbURL="../images/archive/thumbs/Johnny-Vegas-Vic-Reeves-Bob-Mortimer-and-Charlie-Higson-Gary-Wilmot-and-Emma-Barton-Chicago.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Johnny Vegas, Vic Reeves, Bob Mortimer and Charlie Higson &amp; Gary Wilmot and Emma Barton - Chicago]]></caption>
    <about>Star Chamber and Chicago the Musical</about>
    <text>TV Pilot, Musical. Johnny Vegas, Vic Reeves, Bob Mortimer, Charlie Higson, Gary Wilmot, Emma Barton</text>
    <copyrightYear>2003, 2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>BBC, Pett Productions, Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Luciano-Pavarotti.jpg"
	thumbURL="../images/archive/thumbs/Luciano-Pavarotti.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Luciano Pavarotti]]></caption>
    <about>Classic fm Magazine</about>
    <text>Luciano Pavarotti</text>
    <copyrightYear>2002</copyrightYear>
    <locationCreated>Pesaro, Italy</locationCreated>
    <sourceOrganisation>Haymarket Publishing</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Andrea-Bocelli-and-Angela-Gheorghiu.jpg"
	thumbURL="../images/archive/thumbs/Andrea-Bocelli-and-Angela-Gheorghiu.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Andrea Bocelli & Angela Gheorghiu]]></caption>
    <about></about>
    <text></text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Maxim-Vengerov.jpg"
	thumbURL="../images/archive/thumbs/Maxim-Vengerov.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Maxim Vengerov]]></caption>
    <about>Classic fm Magazine</about>
    <text>Italian singer, Andrea Bocelli and songwriter and producer, Romanian Soprano, Angela Gheorghiu</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>Pisa, Italy and Paris, France</locationCreated>
    <sourceOrganisation>Haymarket Publishing</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Kelly-Brook.jpg"
	thumbURL="../images/archive/thumbs/Kelly-Brook.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Kelly Brook]]></caption>
    <about>Fat Pig</about>
    <text>West End stage debut, Kelly Brook</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Kara-Tointon-and-Reece-Shearsmith.jpg"
	thumbURL="../images/archive/thumbs/Kara-Tointon-and-Reece-Shearsmith.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Kara Tointon and Reece Shearsmith]]></caption>
    <about>Absent Friends</about>
    <text>Play by Alan Ayckbourn. Kara Tointon, Reece Shearsmith</text>
    <copyrightYear>2012</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Georgia-Moffett-Tim-McInnerney-and-Samantha-Bond-What-The-Butler-Saw.jpg"
	thumbURL="../images/archive/thumbs/Georgia-Moffett-Tim-McInnerney-and-Samantha-Bond-What-The-Butler-Saw.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Georgia Moffett, Tim McInnerney and Samantha Bond - What The Butler Saw]]></caption>
    <about>What the Butler Saw</about>
    <text>Play by Joe Orton, Directed by Sean Foley.Georgia Moffett, Tim McInnerney, Samantha Bond </text>
    <copyrightYear>2012</copyrightYear>
    <locationCreated>Vaudeville Theatre, London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Cornell-S-John-Sharon-D-Clarke-and-TShan-Williams.jpg"
	thumbURL="../images/archive/thumbs/Cornell-S-John-Sharon-D-Clarke-and-TShan-Williams.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Cornell S John, Sharon D Clarke and T'Shan Williams]]></caption>
    <about>The Life</about>
    <text>Play directed by Michael Blakemore. Cornell S John, Sharon D Clarke, T’Shan Williams</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>EMG</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Lenin-and-Lindi-St-Clair.jpg"
	thumbURL="../images/archive/thumbs/Lenin-and-Lindi-St-Clair.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Lenin & Lindi-St Clair]]></caption>
    <about>Personal Work and Gretchen Hofner Album cover</about>
    <text>Getchen Hofner, Paul Nesbitt, Marian June Akin,Miss Whiplash, Leader of the Corrective Party</text>
    <copyrightYear>1994</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Personal, Gretchen Hofner</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Stephen-Tomkinson-and-Alan-Dale-Spamalot.jpg"
	thumbURL="../images/archive/thumbs/Stephen-Tomkinson-and-Alan-Dale-Spamalot.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Stephen Tomkinson & Alan Dale - Spamalot]]></caption>
    <about>Sign of the Times and Spamalot</about>
    <text>Eric Idle, Monty Python. Stephen Tomkinson, Alan Dale</text>
    <copyrightYear>2008, 2010</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Danny-Reubens-Lord-of-the-Flies.jpg"
	thumbURL="../images/archive/thumbs/Danny-Reubens-Lord-of-the-Flies.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Danny Reubens - Lord of the Flies]]></caption>
    <about>Lord of the Flies</about>
    <text>Willian Golding. Danny Reubens</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Matthew Bourne New Adventures, ATG Productions</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	thumbURL="../images/archive/thumbs/Pride-and-Prejudice-Tafline-Steen-and-Benjamin-Dilloway.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Pride and Prejudice - Tafline Steen and Benjamin Dilloway]]></caption>
    <about>Pride and Prejudice</about>
    <text>Jane Austen. Tafline Steen, Benjamin Dilloway</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Natasha-Yvette-Williams-Jill-Paice-and-Darius-Danesh-Gone-with-the-Wind.jpg"
	thumbURL="../images/archive/thumbs/Natasha-Yvette-Williams-Jill-Paice-and-Darius-Danesh-Gone-with-the-Wind.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Natasha Yvette Williams, Jill Paice and Darius Danesh - Gone with the Wind]]></caption>
    <about></about>
    <text></text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Lock-Stock-and-Two-Smoking-Barrels-TV.jpg"
	thumbURL="../images/archive/thumbs/Lock-Stock-and-Two-Smoking-Barrels-TV.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Lock Stock and Two Smoking Barrels]]></caption>
    <about>Gone With The Wind</about>
    <text>Margaret Mitchell, Directed by Trevor Nunn. Natasha Yvette Williams, Jill Paice, Darius Danesh</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Organisation on whose behalf the photograph was taken</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/God-of-Carnage-Ralph-Fiennes-Tamsin-Greig-Janet-McTeer-and-Ken-Stott.jpg"
	thumbURL="../images/archive/thumbs/God-of-Carnage-Ralph-Fiennes-Tamsin-Greig-Janet-McTeer-and-Ken-Stott.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[God of Carnage - Ralph Fiennes, Tamsin Greig, Janet McTeer and Ken Stott]]></caption>
    <about>God of Carnage</about>
    <text>Play by Yazmina Reza. Ralph Fiennes, Tamsin Greig, Janet McTeer, Ken Stott</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Wellington-and-Natasha.jpg"
	thumbURL="../images/archive/thumbs/Wellington-and-Natasha.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Wellington and Natasha]]></caption>
    <about>Bitch Magazine</about>
    <text>Fashion Item. Wellington and Natasha</text>
    <copyrightYear>2014</copyrightYear>
    <locationCreated>Epsom, Surrey</locationCreated>
    <sourceOrganisation>Bitch Magazine</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Ade-Edmondson-and-Rik-Mayall.jpg"
	thumbURL="../images/archive/thumbs/Ade-Edmondson-and-Rik-Mayall.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Ade Edmondson and Rik Mayall]]></caption>
    <about>Bottom</about>
    <text>Hammersmith Theatre. Ade Edmondson, Rik Mayall</text>
    <copyrightYear>2001</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Phil McIntyre Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Running-Wild-Tyler-Osbourne.jpg"
	thumbURL="../images/archive/thumbs/Running-Wild-Tyler-Osbourne.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Running Wild - Tyler Osbourne]]></caption>
    <about>Running Wild</about>
    <text>Play by Michael Morpurgo. Tyler Osbourne</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/The-Producers.jpg"
	thumbURL="../images/archive/thumbs/The-Producers.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[The Producers]]></caption>
    <about></about>
    <text></text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation></sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Tom-Bateman-and-Lucy-Briggs-Owen-Shakespeare-in-Love.jpg"
	thumbURL="../images/archive/thumbs/Tom-Bateman-and-Lucy-Briggs-Owen-Shakespeare-in-Love.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Tom Bateman and Lucy Briggs-Owen - Shakespeare in Love]]></caption>
    <about>The Producers</about>
    <text>Mel Brooks</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/All-Saints.jpg"
	thumbURL="../images/archive/thumbs/All-Saints.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[All Saints]]></caption>
    <about>All Saints</about>
    <text>British Girl Group. Melanie Blatt, Nicole Appleton, Shaznay Lewis, Natalie Appleton</text>
    <copyrightYear>2000</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Channel 4</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/John-Hurt-Ken-Griffiths-and-Ken-Stott-Heroes.jpg"
	thumbURL="../images/archive/thumbs/John-Hurt-Ken-Griffiths-and-Ken-Stott-Heroes.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[John Hurt, Ken Griffiths and Ken Stott - Heroes]]></caption>
    <about>Heroes</about>
    <text>Play by Gérald Sibleyras. John Hurt, Ken Griffiths, Ken Stott</text>
    <copyrightYear>2005</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Kidnapped-and-El-Jadida.jpg"
	thumbURL="../images/archive/thumbs/Kidnapped-and-El-Jadida.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Kidnapped & El Jadida]]></caption>
    <about>Magazine and Personal Work</about>
    <text>Morocco. Kidnapped and El Jadida</text>
    <copyrightYear>1988, 1999</copyrightYear>
    <locationCreated>London and El Jadida Morocco</locationCreated>
    <sourceOrganisation>Editorial, Personal</sourceOrganisation>
  </image>
  <image imageURL="../images/archive/Rodeo-Texas.jpg"
	thumbURL="../images/archive/thumbs/Rodeo-Texas.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption><![CDATA[Rodeo - Texas]]></caption>
    <about>Texas</about>
    <text>Rodeo</text>
    <copyrightYear>1990</copyrightYear>
    <locationCreated>Utopia, Texas</locationCreated>
    <sourceOrganisation>Personal</sourceOrganisation>
  </image>
</juiceboxgallery>