<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/ella/monkey7.jpg" thumbURL="../images/ella/thumbs/monkey7.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/ella/monkey7.jpg" thumbURL="../images/ella/thumbs/monkey7.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/ella/monkey8.jpg" thumbURL="../images/ella/thumbs/monkey8.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption/>
    <about/>
    <text/>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
</juiceboxgallery>
