<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
   <image imageURL="../images/posters/LOTR-and-Nell.jpg"
  thumbURL="../images/posters/thumbs/LOTR-and-Nell.jpg"
  linkURL="#"
  linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Lord of the Flies and Nell Gwynn</about>
    <text>Theatre Poster. Gemma Arterton, Globe Theatre</text>
    <copyrightYear>2015</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre, Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/LAL.jpg"
  thumbURL="../images/posters/thumbs/LAL.jpg"
  linkURL="#"
  linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Looking at Lucian, Henry Goodman</about>
    <text>Lucian Freud,Theatre Royal Bath, Play by Alan Frank</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Bob King Creative</sourceOrganisation>
  </image>
<image imageURL="../images/posters/The-Real-Thing.jpg"
  thumbURL="../images/posters/thumbs/The-Real-Thing.jpg"
  llinkURL="#"
  linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>The Real Thing</about>
    <text>Theatre Poster. Laurence Fox</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Young-Frankenstein.jpg"
  thumbURL="../images/posters/thumbs/Young-Frankenstein.jpg"
  linkURL="#"
  linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Young Frankenstein</about>
    <text>Mel Brooks, Susan Stroman, Ross Noble, Lesley Joseph, Hadley Fraser, Summer Strallen</text>
    <copyrightYear>2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>AKA London Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/LOTR.jpg"
	thumbURL="../images/posters/thumbs/LOTR.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Lord of the Rings</about>
    <text>Theatre Posters, Galadriel, Aragorn, Arwen, Laura Michelle Kelly, Jérome Pradon, Rosalie Craig</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Inala.jpg"
	thumbURL="../images/posters/thumbs/Inala.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Inala</about>
    <text>Theatre Poster.Dane Hurst, Camille Bracher</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Feast Creative</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Chicago-Poster.jpg"
	thumbURL="../images/posters/thumbs/Chicago-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Chicago the Musical</about>
    <text>Theatre Poster. Mama Morton, Roxie Hart, Kelly Osbourne, Bonnie Langford</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Organisation on whose behalf the photograph was taken</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Porgy-and-Bess.jpg"
	thumbURL="../images/posters/thumbs/Porgy-and-Bess.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Porgy and Bess</about>
    <text>George Gershwin, Directed by Trevor Nunn</text>
    <copyrightYear>2006</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	thumbURL="../images/posters/thumbs/Phantom-of-the-Opera-and-Brief-Encounter.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Phantom of the Opera and Brief Encounter</about>
    <text>Her Majesty’s Theatre, Andrew Lloyd Webber</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, David Pugh Ltd</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Cinderella-Poster.jpg"
	thumbURL="../images/posters/thumbs/Cinderella-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Cinderella</about>
    <text>Matthew Bourne, Prokofiev</text>
    <copyrightYear>2010</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>New Adventures</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/WTBS-and-SW.jpg"
	thumbURL="../images/posters/thumbs/WTBS-and-SW.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>What the Butler Saw and Stephen Ward</about>
    <text>Joe Orton, Directed by Sean Foley, Profumo, Musical, Omid Djalili, Tim McInnerney, Samantha Bond, Jason Thorpe and Nick Hendrix and Georgia Moffett and Alexander Hanson, Charlotte Spencer, Charlotte Blackledge</text>

    <copyrightYear>2012, 2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Adelle.jpg"
	thumbURL="../images/posters/thumbs/Adelle.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Chicago the Musical</about>
    <text>Ten Year Stretch, Adelle Young</text>
    <copyrightYear>2007</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/LV-and-Cages.jpg"
	thumbURL="../images/posters/thumbs/LV-and-Cages.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Little Voice and Cages Aux Folles</about>
    <text>Vaudeville Theatre, Playhouse Theatre, Lesley Sharp, Diana Vickers and Marc Warren, John Barrowman</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Producers-and-Iguana-Poster.jpg"
	thumbURL="../images/posters/thumbs/Producers-and-Iguana-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>The Producers and The Night of the Iguana</about>
    <text>Mel Brooks, Theatre Royal, Play by Tennessee Williams, Lyric Theatre, Corey English, Reece Shearsmith and Clare Higgins, Woody Harrelson, Jenny Seagrove</text>
    <copyrightYear></copyrightYear>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/GOC-Poster.jpg"
	thumbURL="../images/posters/thumbs/GOC-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>God of Carnage and Prick Up Your Ears</about>
    <text>Yasmin Reza, Joe Orton, Ralph Fiennes, Tamsin Greig, Ken Stott, Janet McTeer, Gwen Taylor, Chris New, Matt Lucas</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Lion-King.jpg"
	thumbURL="../images/posters/thumbs/Lion-King.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>The Lion King</about>
    <text>Disney, Lyceum Theatre, Andile Gumbi, Simba</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Wizard-of-Oz.jpg"
	thumbURL="../images/posters/thumbs/Wizard-of-Oz.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>The Wizard of Oz</about>
    <text>Andrew Lloyd Webber, Michael Crawford</text>
    <copyrightYear>2011</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Lion-King-Madrid.jpg"
	thumbURL="../images/posters/thumbs/Lion-King-Madrid.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>El Rey León</about>
    <text>Disney</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>Madrid, Spain</locationCreated>
    <sourceOrganisation>Disney</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/GWTW-and-FOTF-Poster.jpg"
	thumbURL="../images/posters/thumbs/GWTW-and-FOTF-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Gone With The Wind and All The Fun Of The Fair</about>
    <text>Darius Campbell, Darius Danesh, Jill Paice, David Essex</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London, Northampton</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Absent-Friends.jpg"
	thumbURL="../images/posters/thumbs/Absent-Friends.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Absent Friends</about>
    <text>Play by Alan Ayckbourn. David Armand, Elizabeth Berrington, Katherine Parkinson, Steffan Rhodri, Reece Shearsmith, Kara Tointon</text>
    <copyrightYear>2012</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Bakersfield-Mist.jpg"
	thumbURL="../images/posters/thumbs/Bakersfield-Mist.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Bakersfield Mist</about>
    <text>Stephen Sachs, Polly Teale, Duchess Theatre. Kathleen Turner and Ian McDiarmid</text>
    <copyrightYear>2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Priscilla-Poster.jpg"
	thumbURL="../images/posters/thumbs/Priscilla-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Priscilla Queen of the Desert</about>
    <text>Theatre Poster. Musical</text>
    <copyrightYear>2009</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Ghost-Poster.jpg"
	thumbURL="../images/posters/thumbs/Ghost-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Ghost the Musical and Hand to God</about>
    <text>Theatre Poster. Sharon D Clarke, Jane Dee, Neil Pearson, Harry Melling, Jemima Rooper, Kevin Mains</text>
    <copyrightYear>2012, 2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Nica Burns Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/DMD.jpg"
	thumbURL="../images/posters/thumbs/DMD.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>>
    <about>Driving Miss Daisy and Dear Lupin</about>
    <text>Theatre Poster. Alfred Uhry, Roger Mortimer, Charlie Mortimer, Siân Phillips, Derek Griffiths, James Fox, Jack Fox</text>
    <copyrightYear>2015, 2017</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Kenny Wax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Cosette-and-Once.jpg"
	thumbURL="../images/posters/thumbs/Cosette-and-Once.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Les Misérables and Once the Musical</about>
    <text>Theatre Poster. Isabelle Allen,  Declan Bennett, Zrinka Cvitešić</text>
    <copyrightYear>2012, 2013</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters, Kenny Wax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Dead-Funny.jpg"
	thumbURL="../images/posters/thumbs/Dead-Funny.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Dead Funny</about>
    <text>Theatre Poster. Katherine Parkinson, Steve Pemberton, Ralf Little, Emily Berrington, Rufus Jones</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Lion-King-2.jpg"
	thumbURL="../images/posters/thumbs/Lion-King-2.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>The Lion King</about>
    <text>Theatre Poster, Lyceum Theatre, Disney, Andile Gumbi, Simba, Rafiki</text>
    <copyrightYear>2008</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/P-and-P.jpg"
	thumbURL="../images/posters/thumbs/P-and-P.jpg"
	llinkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Pride and Prejudice</about>
    <text>Theatre Poster. Regent’s Park Theatre, Tafline Steen, Benjamin Dilloway"</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Regent’s Park Open Air Theatre</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/This-House.jpg"
	thumbURL="../images/posters/thumbs/This-House.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>This House</about>
    <text>Theatre Poster. Play by James Graham, Garrick Theatre, Steffan Rhodri, Nathaniel Parker</text>
    <copyrightYear>2016</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Nica Burns, Nimax</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/Equus-Poster.jpg"
	thumbURL="../images/posters/thumbs/Equus-Poster.jpg"
	linkURL="#"
	linkTarget="_blank">
    <title></title>
    <caption></caption>
    <about>Equus</about>
    <text>Theatre Poster. Peter Shaffer, Richard Griffiths, Daniel Radcliffe</text>
    <copyrightYear>2006</copyrightYear>
    <locationCreated>London</locationCreated>
    <sourceOrganisation>Dewynters</sourceOrganisation>
  </image>
</juiceboxgallery>