<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/posters/monkey8.jpg" thumbURL="../images/posters/thumbs/monkey8.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>gecge</caption>
    <about>erg</about>
    <text>vsdgvgd</text>
    <copyrightYear>2015, 2015</copyrightYear>
    <locationCreated>cef</locationCreated>
    <sourceOrganisation>ce</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/suarez.jpg" thumbURL="../images/posters/thumbs/suarez.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>dsfas</caption>
    <about>asfas</about>
    <text>asfaf</text>
    <copyrightYear>2017, 2016</copyrightYear>
    <locationCreated>asfd</locationCreated>
    <sourceOrganisation>afs</sourceOrganisation>
  </image>
  <image imageURL="../images/posters/monkey10.jpg" thumbURL="../images/posters/thumbs/monkey10.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>[0;l[</caption>
    <about>l89lp89</about>
    <text>lp9</text>
    <copyrightYear/>
    <locationCreated>l908l</locationCreated>
    <sourceOrganisation>l9p</sourceOrganisation>
  </image>
</juiceboxgallery>
