<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery>
  <image imageURL="../images/portfolio/monkey7.jpg" thumbURL="../images/portfolio/thumbs/monkey7.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>dsfd</caption>
    <about>fdfg</about>
    <text>dfdsa</text>
    <copyrightYear>, 2018</copyrightYear>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
  <image imageURL="../images/portfolio/suarez.jpg" thumbURL="../images/portfolio/thumbs/suarez.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>asdf</caption>
    <about>asdf</about>
    <text>sdaf</text>
    <copyrightYear>2016, 2013</copyrightYear>
    <locationCreated>asdf</locationCreated>
    <sourceOrganisation>asfda</sourceOrganisation>
  </image>
  <image imageURL="../images/portfolio/coutinho.jpg" thumbURL="../images/portfolio/thumbs/coutinho.jpg" linkURL="#" linkTarget="_blank">
    <title> </title>
    <caption>dds</caption>
    <about>sdf</about>
    <text>sfds</text>
    <copyrightYear/>
    <locationCreated/>
    <sourceOrganisation/>
  </image>
</juiceboxgallery>
